doctype html
html(lang='es')
	head 
		meta(charset='utf-8')
		title Tracking App
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
		link(rel='stylesheet', type='text/css', href='./client/css/icons.css')
		link(rel='stylesheet', type='text/css', href='./client/css/main.css')
	body 
		.home-image
			.home-background
				.button-surprise.row-nowrap
					span.icon-gift
				.name
					p Tracking App
				.home-content-central.column-wrap
					p Garantiza la
					p Productividad, eficacia y rendimiento
					p en tu empresa
					a(href='#') Lo quiero ya
				span.icon-chevron-thin-down
		.functioning-container.column-wrap
			.functioning-content
				p.title-section Como Funciona
				.step.column-wrap
					p 1
					p Este es un texto de ejemplo
				.step.column-wrap
					p 2
					p Este es un texto de ejemplo
				.step.column-wrap
					p 3
					p Este es un texto de ejemplo
		.features-container
			.curve
			.features-content.column-wrap
				p.title-section Caracteristicas Web
				.features-image
				.list-features
					.feature
						span.icon-favorite_border
						.feature-description
							p Titulo
							p Este es un texto de ejemplo, y sigue siendo de ejemplo
					.feature
						span.icon-favorite_border
						.feature-description
							p Titulo
							p Este es un texto de ejemplo, y sigue siendo de ejemplo
					.feature
						span.icon-favorite_border
						.feature-description
							p Titulo
							p Este es un texto de ejemplo, y sigue siendo de ejemplo
		.features-container.features-mobile
			.features-content.column-wrap
				p.title-section Caracteristicas Móvil
				.features-image
				.list-features
					.feature
						span.icon-favorite_border
						.feature-description
							p Titulo
							p Este es un texto de ejemplo, y sigue siendo de ejemplo
					.feature
						span.icon-favorite_border
						.feature-description
							p Titulo
							p Este es un texto de ejemplo, y sigue siendo de ejemplo
					.feature
						span.icon-favorite_border
						.feature-description
							p Titulo
							p Este es un texto de ejemplo, y sigue siendo de ejemplo
		.made-by-container
			.curve
			.made-by-content.column-wrap
				p 
					| Hecho con mucho
					span.icon-favorite
					| por
				img(src='./client/img/logo-doapps-completo.png')
		footer.column-wrap
			ul.row-nowrap
				li Lo quiero ya
				li Como funciona
				li Caracteristicas 
		.modal-mail-only
			.modal-content.column-wrap
				p Esta app, puede ser tuya, solo dejanos tu correo y nosotros nos pondremos en contacto contigo
				input(type='text', placeholder='correo')
		script(src='./client/js/main.js')
